<template>
    <Loading :active.sync="loading" :height="25" :width="25" :is-full-page="true" />
</template>

<script>

//Loader
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

// Api helper
import api from '@/services/api';

export default {
    name: 'Activation',
    components: {
        Loading
    },
    data () {
        return {
            loading: false
        }
    },
    async mounted () {
        this.loading = true;

        let response = await api.activation(this.$route.params.hash);
        if (!response.result) {
            this.$router.push({name: 'Index', params: { 'error': response.data }});
        }
        else {
            this.$router.push({name: 'Index', params: { 'success': 'Account has been activated' }});
        }

        this.loading = false;
    },
}

</script>