<template>
    <div class="container">
        <Loading :active.sync="loading" :height="25" :width="25" :is-full-page="true" />
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-12 col-lg-4 col-md-6 col-sm-8">
                <ErrorMessage v-if="error" :message="error" />
                <SuccessMessage v-if="success" :message="success" />
                <div class="card">
                    <div class="card-header">
                        Authorization
                    </div>
                    <div class="card-body">
                        <form action="" autocomplete="off">
                            <div class="form-group">
                                <input type="email" v-validate="'required|email'" v-model="model.email" :class="{'is-invalid': errors.has('email') }"  required placeholder="E-mail" class="form-control" data-vv-as="E-mail" name="email">
                                <small v-show="errors.has('email')" class="form-text text-danger">{{ errors.first('email') }}</small>                               
                            </div>
                            <div class="form-group">
                                <input type="password" v-validate="'required'" v-model="model.password" :class="{'is-invalid': errors.has('password') }" required autocomplete="none" placeholder="Password" class="form-control" data-vv-as="Password" name="password">
                                <small v-show="errors.has('password')" class="form-text text-danger">{{ errors.first('password') }}</small>  
                            </div>
                            <button type="button" @click="authorization" class="btn btn-primary">Log in</button>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-2">
                    <router-link :to="{ name: 'Registration' }">Create account</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

//Loader
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

// Api helper
import api from '@/services/api';

// Error message component
import ErrorMessage from '@/components/ErrorMessage';

// Succes message component
import SuccessMessage from '@/components/SuccessMessage';

export default {
    name: 'Authorization',
    components: {
        ErrorMessage,
        SuccessMessage,
        Loading
    },
    data () {
        return {
            model: {
                email: '',
                password: ''
            },
            loading: false,
            error: null,
            success: null,
        }
    },
    async mounted () {
        if (this.$route.params.success) {
            this.success = this.$route.params.success;
        }

        if (this.$route.params.error) {
            this.error = this.$route.params.error;
        }
    },
    methods: {
        authorization: async function () {
            if (!(await this.$validator.validateAll())) {
                return false;
            }

            this.loading = true;
            this.error = null;
            this.success = null;

            let response = await api.authorization(this.model);            
            if (response.result) {
                // Set token and name to store
                this.$store.commit('token', response.data);

                // Store token in the local storage for future auto-login
                localStorage.token = response.data;
                
                // Redirect to todo list
                this.$router.push({name: 'TodoList'});
            }
            else {
                this.error = response.data;
            }

            this.loading = false;
        }
    }	
}

</script>