<template>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            404: Page not found
        </div>
    </div>
</template>

<script>

export default {
    name: 'PageNotFound'
}

</script>