<template>
    <div class="container">   
        <Loading :active.sync="loading" :height="25" :width="25" :is-full-page="true" />
        <Header :name="name" :channel="channel" />
        <div class="row mt-3">
            <div class="col-6">
                <router-link :to="{ name: 'TodoList' }" class="btn btn-link" role="button" aria-pressed="true">Back to the list</router-link>
            </div>        
        </div>   
        <div class="row mt-3">
            <div v-if="error || success"  class="col-12">
                <ErrorMessage v-if="error" :message="error" />
                <SuccessMessage v-if="success" :message="success" />
            </div>            
            <div class="col-6">    
                <div class="card">
                    <div class="card-header">
                        Change name
                    </div>
                    <div class="card-body">
                        <form action="" autocomplete="off">
                            <div class="form-group">
                                <input type="name" v-model="model.name" placeholder="Your new name" class="form-control" name="name">
                            </div>
                            <button type="button" @click="changeName" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">    
                <div class="card">
                    <div class="card-header">
                        Change password
                    </div>
                    <div class="card-body">
                        <form action="" autocomplete="off">
                            <div class="form-group">
                                <input type="password" v-model="model.password" placeholder="Your new password" class="form-control" name="password">
                            </div>
                            <button type="button" @click="changePassword" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>
            </div>        
        </div>   
        <div class="row mt-3">
            <div class="col-12">    
                <div class="card">
                    <div class="card-header">
                        Authorized tokens and devices
                    </div>
                    <div class="card-body card-table">
                        <table class="table devices">
                            <thead>
                                <tr>
                                    <td>
                                        Device
                                    </td>
                                    <td width="120">
                                        IP address
                                    </td>
                                    <td width="150">
                                        Created
                                    </td>
                                    <td width="150">
                                        Last used
                                    </td>
                                    <td width="100">
                                        &nbsp;
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr v-for="device in devices" :key="device.id">
                                        <td>
                                            {{ device.device }}
                                        </td>
                                        <td>
                                            {{ device.ip }}
                                        </td>
                                        <td>
                                            {{ device.created_at | moment("DD.MM.YYYY, HH:mm") }}
                                        </td>
                                        <td>
                                            {{ device.updated_at | moment("DD.MM.YYYY, HH:mm") }}
                                        </td>
                                        <td>
                                            <a href="" @click.prevent="deleteDevice(device)" class="btn btn-danger btn-sm float-right" role="button" aria-pressed="true">Log out</a>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>             
    </div>
</template>

<script>

//Loader
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

// Mixins
import profile from '@/mixins/profile';

// Api helper
import api from '@/services/api';

// Header
import Header from '@/components/Header';

// ErrorMessage
import ErrorMessage from '@/components/ErrorMessage';

// SuccessMessage
import SuccessMessage from '@/components/SuccessMessage';

export default {
    name: 'Profile',
    mixins: [ profile ],
    components: {
        Header,
        Loading,
        ErrorMessage,
        SuccessMessage,
    },
    data () {
        return {
            token: null,
            loading: false,
            success: null,
            error: null,
            devices: [],
            model: {
                name: null,
                password: null,
            }
        }
    },
	async mounted () {
        this.token = this.$store.getters.token;
        this.model.name = this.name;

        // Devices
        let response = (await api.devices(this.token));
        if (response.result) {
            this.devices = response.data;
        }
	},
    methods: {
        changeName: async function () {
            this.error = null;
            let response = await api.changeName(this.token, this.model);            
            if (response.result) {
                this.showSuccess('Name has been changed successfully');
            }
            else {
                this.error = response.data;
            }
        },
        changePassword: async function () {
            this.error = null;
            let response = await api.changePassword(this.token, this.model);            
            if (response.result) {
                this.model.password = null;
                this.showSuccess('Password has been changed successfully');
            }
            else {
                this.error = response.data;
            }
        },        
        showSuccess: function (message) {
            this.success = message;
            setTimeout(() => {
                this.success = null;
            }, 3000)
        },
        deleteDevice: async function (device) {
            this.devices.splice(this.devices.indexOf(device), 1);
            await api.deleteDevice(this.token, device.id);
            
            let response = await api.profile(this.token);
            if(!response.result) {
                // Remove all credentions
                localStorage.token = null;
                this.$store.commit('token', null);                
                this.$store.commit('name', null);   

                // Rdirect to login page
                this.$router.push({name: 'Index'});
            }
        }
    }	
}

</script>