<template>
    <div class="container">
        <Loading :active.sync="loading" :height="25" :width="25" :is-full-page="true" />
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-12 col-lg-4 col-md-6 col-sm-8">
                <ErrorMessage v-if="error" :message="error" />
                <div class="card">
                    <div class="card-header">
                        Registration
                    </div>
                    <div class="card-body">
                        <form action="" autocomplete="off">
                            <div class="form-group">
                                <input type="name" v-validate="'required'" v-model="model.name" :class="{'is-invalid': errors.has('name') }"  required placeholder="Name" class="form-control" data-vv-as="Name" name="name">
                                <small v-show="errors.has('name')" class="form-text text-danger">{{ errors.first('name') }}</small>                               
                            </div>                            
                            <div class="form-group">
                                <input type="email" v-validate="'required|email'" v-model="model.email" :class="{'is-invalid': errors.has('email') }"  required placeholder="E-mail" class="form-control" data-vv-as="E-mail" name="email">
                                <small v-show="errors.has('email')" class="form-text text-danger">{{ errors.first('email') }}</small>                               
                            </div>
                            <div class="form-group">
                                <input type="password" v-validate="'required'" v-model="model.password" :class="{'is-invalid': errors.has('password') }" required autocomplete="none" placeholder="Password" class="form-control" data-vv-as="Password" name="password">
                                <small v-show="errors.has('password')" class="form-text text-danger">{{ errors.first('password') }}</small>  
                            </div>
                            <button type="button" @click="registration" class="btn btn-primary">Create account</button>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-2">
                    <router-link :to="{ name: 'Index' }">Authorization</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

// Constants
import constants from '@/constants';

//Loader
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

// Api helper
import api from '@/services/api';

// Error message component
import ErrorMessage from '@/components/ErrorMessage';

export default {
    name: 'Registration',
    components: {
        ErrorMessage,
        Loading
    },
    data () {
        return {
            model: {
                name: 'Slava',
                email: 'slayeek@mail.ru',
                password: '12345',
                activationLink: constants.app + '/activation/'
            },
            loading: false,
            error: null,
        }
    },
    async mounted () {
    },
    methods: {
        registration: async function () {
            if (!(await this.$validator.validateAll())) {
                return false;
            }

            this.loading = true;
            this.error = null;
            
            let response = await api.registration(this.model);            
            if (response.result) {
                this.$router.push({name: 'Index', params: { 'success': 'Check your email for the activation link' }});
            }
            else {
                this.error = response.data;
            }            

            this.loading = false;
        }
    }	
}

</script>