<template>
    <div class="container">   
        <Loading :active.sync="loading" :height="25" :width="25" :is-full-page="true" />
        <Header :name="name" :channel="channel" />
        <div class="row mt-3">
            <div class="col-12">
                <router-link :to="{ name: 'TodoCreate' }" class="btn btn-primary float-right" role="button" aria-pressed="true">Create new todo</router-link>
            </div>
        </div>
        <div v-if="error" class="row mt-4">
            <div class="col-12">
                <ErrorMessage :message="error" />
            </div>
        </div>
        <TodoTable :list="list" :onDelete="todoDelete" />
    </div>
</template>

<script>

//Loader
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

// Mixins
import profile from '@/mixins/profile';

// Api helper
import api from '@/services/api';

// Header
import Header from '@/components/Header';

// Table
import TodoTable from '@/components/TodoTable';

// ErrorMessage
import ErrorMessage from '@/components/ErrorMessage';

export default {
    name: 'Authorization',
    mixins: [ profile ],
    components: {
        Header,
        TodoTable,
        Loading,
        ErrorMessage
    },
    data () {
        return {
            loading: false,
            error: null,
            list: [],
        }
    },
	mounted () {
        // Load todo list
        this.todoList();
	},
    methods: {
        todoList: async function () {
            this.loading = true;
            this.error = null;

            let response = await api.todoList(this.$store.getters.token);
            if (response.result) {
                this.list = response.data;
            }
            else {
                this.error = response.data;
            }

            this.loading = false;
        },
        todoDelete: async function (item) {
            if (confirm('Are you sure?')) {
                this.list.splice(this.list.indexOf(item), 1);
                await api.todoDelete(this.$store.getters.token, item.id);
            }           
        }
    }	
}

</script>