<template>
    <div class="container">   
        <Loading :active.sync="loading" :height="25" :width="25" :is-full-page="true" />
        <Header :name="name" :channel="channel" />
        <div class="row mt-3">
            <div class="col-6">
                <router-link :to="{ name: 'TodoList' }" class="btn btn-link" role="button" aria-pressed="true">Back to the list</router-link>
            </div>        
            <div class="col-6" v-if="ready">
                <a href="" @click.prevent="save()" class="btn btn-primary float-right" role="button" aria-pressed="true">Save</a>
            </div>
        </div>   
        <div class="row mt-3">
            <div class="col-12">    
                <ErrorMessage v-if="error" :message="error" />
                <div class="card" v-if="ready">
                    <div class="card-header">
                        Todo
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <TextBox  
                                    caption="Todo name" 
                                    v-model="model.name" 
                                    name="name" 
                                    validation="required" 
                                    placeholder="Todo name" 
                                    hint="Write the short name of your todo" 
                                />
                                <Select 
                                    caption="Group" 
                                    v-model="model.group_id" 
                                    :items="groups" 
                                    name="group_id" 
                                    validation="required" 
                                    hint="Choose the group of your todo" 
                                />
                                <Select 
                                    caption="Importance" 
                                    v-model="model.importance_id" 
                                    :items="importances" 
                                    name="importance_id" 
                                    validation="required" 
                                    hint="Choose the importance of your todo" 
                                />                                                               
                                <TextArea  
                                    caption="Description" 
                                    v-model="model.description" 
                                    name="description" 
                                    validation="required" 
                                    placeholder="" 
                                    hint="Write some description about your todo" 
                                />                                   
                            </div>
                            <div class="col-12 col-md-6"> 
                                <div class="form-group">
                                    <label><a href="" @click.prevent="useDeadline = !useDeadline">{{ useDeadline ? 'Unset' : 'Set'}} deadline</a></label>
                                    <div class="inline-fields" v-if="useDeadline">
                                        <TextBoxDate  
                                            v-model="model.deadline_date" 
                                            name="deadline_date" 
                                            :validation="{ required: useDeadline }" 
                                        />                                        
                                        <TextBoxTime 
                                            v-model="model.deadline_time" 
                                            name="deadline_date" 
                                            :validation="{ required: useDeadline }" 
                                        />                            
                                    </div>
                                    <small v-if="useReminder" id="todo-deadline_at-help" class="form-text text-muted">Set deadline to your todo</small>
                                </div>    
                                <div class="form-group">
                                    <label for="todo-description"><a href="" @click.prevent="useReminder = !useReminder">{{ useReminder ? 'Unset' : 'Set'}} reminder</a></label>
                                    <div class="inline-fields" v-if="useReminder">
                                        <TextBoxDate  
                                            v-model="model.reminder_date" 
                                            name="reminder_date" 
                                            :validation="{ required: useReminder }" 
                                        />                                        
                                        <TextBoxTime 
                                            v-model="model.reminder_time" 
                                            name="reminder_time" 
                                            :validation="{ required: useReminder }" 
                                        /> 
                                    </div>
                                    <small v-if="useReminder" id="todo-reminder_at-help" class="form-text text-muted">Set reminder to your todo</small>
                                </div>                                                                                       
                                <div class="form-group">
                                    <label for="todo-importance">Colors</label>      
                                    <div v-for="item in colors" :key="item.id" class="form-check">
                                        <input class="form-check-input" v-model="model.colors_id" type="checkbox" :value="item.id" :id="'color' + item.id">
                                        <label class="form-check-label" :style="'color:' + item.code" :for="'color' + item.id">{{ item.name }}</label>
                                    </div>                                                                 
                                </div>   
                                <div class="form-group">
                                    <label for="todo-importance">Files</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" @change="selectFile" name="file" id="file">
                                        <label class="custom-file-label" for="file">{{ file ? file.name : 'Choose file' }}</label>
                                    </div>
                                    <table class="file-list" v-if="files.length > 0">
                                        <tr v-for="file in files" :key="file.id">
                                            <td>
                                                <a href="" @click.prevent="downloadFile(file)">{{ file.label }}</a>
                                            </td>
                                            <td width="120">
                                                {{ file.size | format }} bytes
                                            </td>
                                            <td width="80">
                                                <a href="" @click.prevent="deleteFile(file)" class="btn btn-danger btn-sm float-right" role="button" aria-pressed="true">Remove</a>
                                            </td>
                                        </tr>                                            
                                    </table>                                    
                                </div>                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    </div>
</template>

<script>

//Loader
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

// Mixins
import profile from '@/mixins/profile';

// Api helper
import api from '@/services/api';

// Todo helper
import todos from '@/utils/todos';

// Components
import Header from '@/components/Header';
import TextBox from '@/components/TextBox';
import TextBoxDate from '@/components/TextBoxDate';
import TextBoxTime from '@/components/TextBoxTime';
import Select from '@/components/Select';
import TextArea from '@/components/TextArea';
import ErrorMessage from '@/components/ErrorMessage';

export default {
    name: 'TodoItem',
    mixins: [ profile ],
    components: {
        Header,
        Loading,
        ErrorMessage,
        TextBox,
        TextBoxDate,
        TextBoxTime,
        Select,
        TextArea,
    },
    data () {
        return {
            dictionaries: ['colors' ,'groups' , 'importances'],
            id: null,
            token: null,
            loading: false,
            list: [],
            colors: [],
            groups: [],
            importances: [],
            useDeadline: false,
            useReminder: false,
            error: null,
            files: [],
            file: null,
            model: {
                name: null,
                group_id: null,
                importance_id: null,
                description: null,
                deadline_at: null,
                deadline_date: null,
                deadline_time: null,
                reminder_at: null,
                reminder_date: null,
                reminder_time: null,
                colors_id: [],
            }
        }
    },
	async mounted () {
        this.loading = true;

        this.token = this.$store.getters.token;
        this.id = this.$route.params.id;

        // Load dictionaries
        for (let key in this.dictionaries) {
            let dictionary = this.dictionaries[key];

            let response = await api.dictionary(this.token, dictionary);
            if (response.result) {
                this[dictionary] = response.data;
            }
            else {
                this.error = response.data;
            }
        }

        // Load todo if we are in edit mode
        if (this.id) {
            this.model = await todos.load(this.token, this.id, this.model);

            if (typeof this.model === 'object') {
                this.useDeadline = Boolean(this.model.deadline_at);
                this.useReminder = Boolean(this.model.reminder_at);

                // Load files
                this.loadFiles();
            }
            else {
                this.error = this.model;
                this.model = null;
            }
        }

        this.loading = false;
    },
    filters: {
        format (value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    },   
    computed: {
        ready: function () {
            for (let key in this.dictionaries) {
                let dictionary = this.dictionaries[key];
                if (this[dictionary].length == 0) {
                    return false;
                }
            }

            if (!this.model) {
                return false;
            }

            return true;
        }
    }, 
    methods: {
        // Save (add/edit) model
        save: async function () {
            // Validattion
            if (!(await this.$validator.validateAll())) {
                return false;
            }

            // Save           
            this.loading = true;
            this.error = null;

            // Choose: update or create         
            let response = null; 
            if (this.id) {
                response = await api.todoUpdate(this.token, this.id, todos.prepare(this.model));            
            }
            else {
                response = await api.todoCreate(this.token, todos.prepare(this.model)); 
            }

            if (response.result) {
                // Upload file
                if (this.file) {
                    await api.uploadFile(this.token, this.id, this.file);
                    this.file = null;
                }

                // Actiobn after saving
                if (!this.id) {
                    this.$router.push({name: 'TodoList'});
                } 
                else {
                    this.loadFiles();
                }
            }
            else {
                this.error = response.data;
            }

            this.loading = false;            
        },

        // Load file list
        loadFiles: async function () {
            this.files = (await api.todoFiles(this.token, this.id, this.model)).data;
        },

        // Download file
        downloadFile: async function (file) {
            let response = await api.downloadFile(this.token, this.id, file.id);
            let blob = new Blob([response.data], { type: "octet/stream" });
            let link = document.createElement('a');

            link.href = window.URL.createObjectURL(blob);
            link.download = file.label;
            link.click();
        },

        // Delete file
        deleteFile: async function (file) {
            if (confirm('Sure?')) {
                this.files.splice(this.files.indexOf(file), 1);
                await api.deleteFile(this.token, this.id, file.id);
            }
        },        

        // Select file
        selectFile: function(event) {
            this.file = event.target.files[0];
        }
    }	
}

</script>