<template>
    <div v-if="name">
        <div class="row mt-3">
            <div class="col-6">
                Hello, <router-link :to="{ name: 'Profile' }">{{ name }}</router-link>. This is Dolist application.
            </div>
            <div class="col-6">
                <a href="" @click.prevent="logout" class="btn btn-light float-right" role="button" aria-pressed="true">Log out</a>
            </div>
        </div>
        <hr /> 
    </div>
</template>

<script>

export default {
    name: 'Header',
    props: {
        name: String,
        channel: String
    },
    mounted () {
        // Reminder
        this.$pusher.unsubscribe(this.channel); // Unsubscribe from prevorious subscribtions

        this.$pusher.subscribe(this.channel).bind('reminder-sent', (data) => {
            if(confirm('Dolist reminds yout about "' + data.todo.name + '"')) {
                this.$router.push({name: 'TodoEdit', params: { id: data.todo.id }}).catch(() => {});
            }            
        });
    },
    methods: {
        logout: function () {
            if (confirm('Quit?')) {
                // Remove all credentions
                localStorage.token = null;
                this.$store.commit('token', null);                
                this.$store.commit('name', null);   

                // Redirect to login page
                this.$router.push({name: 'Index'});
            }
        }
    }
}

</script> 