<template>
    <div class="form-group">
        <label :for="name">{{ caption }}</label>
        <select 
            @input="$emit('input', $event.target.value)"
            :value="value"
            :errors="errors"
            v-validate="validation" 
            :class="{'is-invalid': errors.has(name) }" 
            class="form-control" 
            :name="name" 
            :id="name" 
        >
            <option :value="null">Choose...</option>
            <option v-for="item in items" :key="item.id" :value="item.id">{{ item.name }}</option>
        </select>
        <small class="form-text text-muted">{{ hint }}</small>
    </div>
</template>

<script>

export default {
    name: 'Select',
    inject: ['$validator'],
    props: {
        items: Array,
        caption: String,
        name: String,
        value: [String, Number],
        validation: String,
        hint: String,
        placeholder: String,
    },   
}

</script> 