<template>
    <input 
        @input="$emit('input', $event.target.value)"
        :value="value"
        v-validate="validation" 
        :class="{'is-invalid': errors.has(name) }" 
        :name="name" 
        :id="name" 
        type="text" 
        class="form-control" 
        v-mask="'##:##'"
        placeholder="hh:mm" 
        style="width: 100px;" 
    />
</template>

<script>

export default {
    name: 'TextBoxTime',
    inject: ['$validator'],
    props: {
        name: String,
        value: String,
        validation: [String, Object],
        placeholder: String,
    },   
}

</script> 