<template>
    <input 
        @input="$emit('input', $event.target.value)"
        :value="value"
        v-validate="validation" 
        :class="{'is-invalid': errors.has(name) }" 
        :name="name" 
        :id="name" 
        type="text" 
        class="form-control" 
        placeholder="dd.mm.yyyy" 
        v-mask="'##.##.####'"
        style="width: 130px;" 
    />
</template>

<script>

export default {
    name: 'TextBoxDate',
    inject: ['$validator'],
    props: {
        name: String,
        value: String,
        validation: [String, Object],
        placeholder: String,
    },   
}

</script> 