<template>
    <div class="form-group">
        <label :for="name">{{ caption }}</label>
        <textarea 
            @input="$emit('input', $event.target.value)"
            :value="value"
            v-validate="validation" 
            :class="{'is-invalid': errors.has(name) }" 
            :name="name" 
            :id="name" 
            type="text" 
            class="form-control" 
            :placeholder="placeholder"
            rows="6"
        >
        </textarea>
        <small class="form-text text-muted">{{ hint }}</small>
    </div>
</template>

<script>

export default {
    name: 'TextArea',
    inject: ['$validator'],
    props: {
        caption: String,
        name: String,
        value: String,
        validation: String,
        hint: String,
        placeholder: String,
    },   
}

</script> 