<template>
    <div class="row mt-3">
        <div class="col-12">    
            <div class="card">
                <div class="card-header">
                    Todo list                
                </div>
                <div class="card-body card-table">
                    <table class="table">
                        <tbody>
                            <TodoRow v-for="item in list" :key="item.id" :item="item" :onDelete="() => { onDelete(item) }" />
                            <td v-if="list.length == 0" class="text-center no-border">
                                There are no todos yet
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

// TodoRow
import TodoRow from '@/components/TodoRow';

export default {
    name: 'TodoTable',
    components: {
        TodoRow
    },    
    props: {
        list: Array,
        onDelete: Function
    }
}

</script> 