<template>
    <tr>
        <td>
            <router-link :to="{ name: 'TodoEdit', params: { id: item.id }}">{{ item.name }}</router-link>
        </td>
        <td width="150">
            {{ item.created_at | moment("DD.MM.YYYY, HH:mm") }}
        </td>
        <td width="70" class="d-none d-lg-table-cell">
            {{ item.group.name }}
        </td>
        <td width="110" class="d-none d-lg-table-cell">
            <span v-for="color in item.colors" :key="color.id" class="badge" :style="{ 'background-color': color.code }">&nbsp;</span>
        </td>
        <td width="100">
            <a href="" @click.prevent="onDelete" class="btn btn-danger btn-sm float-right" role="button" aria-pressed="true">Remove</a>
        </td>
    </tr>
</template>

<script>

export default {
    name: 'TodoRow',
    data () {
        return {
        }
    },
    props: {
        item: Object,
        onDelete: Function
    },
	mounted () {
	}
}

</script>