<template>
	<div id="app">
		<router-view v-if="ready"></router-view>
	</div>
</template>

<script>

// Api helper
import api from '@/services/api';

export default {
	name: 'app',
    data () {
        return {
			ready: false
        }
    },	
	async mounted () {
        // Try to auto-login
        if (localStorage.token) {
            let response = await api.profile(localStorage.token);
            if (response.result) {
                // Set token and name to store
                this.$store.commit('token', localStorage.token);                
                this.$store.commit('name', response.data.name);                
                this.$store.commit('channel', response.data.channel);                
                // Redirect to todo list
                this.$router.push({name: 'TodoList'});
            }
		}
		
		this.ready = true;
	}	
}

</script>

